# Node
frontend/node_modules/
frontend/dist/

# Java
backend/target/
*.jar
*.log
*.log.*

# Python
ai-service/venv/
__pycache__/
*.pyc

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Other
*.tar
*.tar.*
*.exe
*.msi
*.deb
*.zip
*.tgz
*.sig

# Project-specific
VisionCaption_Dashboard_Module_Spec.pdf
ui-guidelines.md
dashboard_module_spec.md
frontend/.env
ai-service/models/caption_model_baseline.pth
ai-service/models/base_line_model.ipynb
ai-service/models/caption_model.ipynb
ai-service/models/caption_model.pth
ai-service/models/CLIP model example.ipynb
ai-service/models/ViT_1_1_model.ipynb
ai-service/models/ViT_1_1_model.pt
ai-service/models/ViT_1_1_model_before.ipynb
ai-service/.env
ai-service/models/ViT_1_4_model.pt
