# Node
frontend/node_modules/
frontend/dist/

# Java
backend/target/
*.jar
*.log
*.log.*

# Python
ai-service/venv/
__pycache__/
*.pyc

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Other
*.tar
*.tar.*
*.exe
*.msi
*.deb
*.zip
*.tgz
*.sig
