# Database
SUPABASE_DB_URL=postgresql+asyncpg://postgres.mztbiewiqjnairxnurfk:XOT0B9LkUQ9CrZcC@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?ssl=requirexnurfk:XOT0B9LkUQ9CrZcC@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres

# Optional JWT Auth matching Supabase Auth
SUPABASE_JWT_SECRET=your-supabase-jwt-secret-here

# Optionally other env vars
